.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-page{
        display: flex;
        flex-direction: row;
        margin-left: 30% ;
        h1 {
            font-size: 40px;
            font-weight: bold;
        }

        button{
            background-color: #DDC2F3;
            border-radius: 7px;
            padding: 10px 40px;
            font-size: 20px;
            font-weight: bold;
            border: 1px solid black;
            margin: 0 120px;
            
          
          
        }
    }



    &-wrapper {
        display: flex;
        margin-block-start: 2%;

        span {
            font-size: 22px;
            font-weight: bold;
        }
        
    }


    &-inputs {
        display: flex;
        flex-direction: column;

        input {
            margin: 10px;
            padding: 0 10px 5px 10px;
            background-color: aquamarine;
            width: 300px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
    }

    &-wrapper {
        display: flex;
        
        justify-content: space-between;
        
    }


    

 
}

.lemming {
    display: flex;
    flex-direction: column;
    background-color: #DDC2F3;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 100px;

    &:hover {
        background-color: #D2EEDA;
    }
}