.account {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 55px;
        font-weight: bold;
        
    }

    &-wapper {
        display: flex;
        flex-direction: column;
        width: 680px;
        height: 500px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        margin-block-start: 4vh;
    }

    &-inputs {
         input {
            padding: 10px 115px;
            padding: 7px 120px;
            background-color: #D2EEDA;
            margin-block-start: 2%;
            border: 1px solid black;
            max-width: 680%;
            max-height: 490%;
         }

         h1{
            font-size: 22px;
            font-weight: bold;
            margin-block-start: 1%;
            margin-right: 55%;
         }
    }

    &-button1 {

        button{
        background-color: #BDF3BF;
        padding: 5px 10px;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        border: 1px solid black;
        margin-block-start: 2%;
        max-width: 680%;
        max-height: 500%;
        }

    }

    &-button2{
        button{
            background-color: #DDC2F3;
            border-radius: 7px;
            padding: 10px 40px;
            font-size: 20px;
            font-weight: bold;
            margin-block-start: -3%;
            border: 1px solid black;
            margin-left: 110%;
            white-space: nowrap;
            text-align: center;


        }
    }


}